<h1>Password Generator</h1>

<div>
  <label for="">Enter Length</label>
  <!-- handle the input text -->
  <input (input)="onChangeLength((length = $any($event.target).value))" />
  <!--error for this code...top one is approch if object value is null-->
  <!-- <input (input)="onChangeLength($event.target.value)" /> -->
</div>

<div>
  <label>Use Letters</label>
  <input (change)="onChangeUseLetters()" type="checkbox" />
</div>

<div>
  <label>Use Numbers</label>
  <input (change)="onChangeUseNumbers()" type="checkbox" />
</div>

<div>
  <label>Use Symbols</label>
  <input (change)="onChangeUseSymbols()" type="checkbox" />
</div>

<div>
  <button
    [disabled]="
      !((length && includeLettes) || includeNumbers || includeSymbols)
    "
    (click)="onButtonClick()"
  >
    Generate
  </button>
</div>

<div>
  <label for="">Your Password</label>
  <!-- <input [value]="getPassword()" /> -->
  <input [value]="password" />
</div>

<!-- we can call the method inside string interpolation -->
<!-- {{ getName() }} -->
